.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 320px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 42px;
    padding-right: 42px;
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
