@import '../../styles/common';

.registration-form{
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  padding: 100px 40px 0px;

}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  display: block;
  margin-bottom: 15px;
  height: 40px;
  padding: 5px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 100%;
  caret-color: rgba(0, 177, 255, 0.67);
}

.password-container {
  position: relative;
  width: 100%;
}

.show-pass {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 30px;
  height: 30px;
}

.submit-btn{
  height: 40px;
  margin-top: 30px;
  border-radius: 10px;
  border: 0px;
  font-size: 20px;
  background: white;
  &:hover{
    background: rgba(100, 199, 255, 0.73);
  }
}