.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 30px;
  padding: 15px 20px;
  background: linear-gradient(90deg, #a1c4fd 0%, #c2e9fb 100%);
}

.logo {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.user {
  width: 120px;
  display: flex;
  justify-content: space-between;
}
